body{
    margin: 0;
    padding: 0;
    font: 15px/1.5 Arial, Helvetica,sans-serif;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
/* Header */
header{
    background: rgb(53 66 74);
    color: rgb(255 255 255);
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid rgb(232 73 29);
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}
header .highlight, header .current a{
    color: rgb(232 73 29);
    font-weight: bold;
}
header nav{
    float: right;
    margin-top: 10px;
}
header li{
    float: left;
    padding: 0 20px 0 20px;
    list-style: none;
}
header a{
    color: rgb(255 255 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header .highlight, header .current a{
    color:#e8491d;
    font-weight:bold;
}
header a:hover{
    color:#cccccc;
    font-weight:bold;
}
/*showcase  */

#showcase{
    min-height: 400px;
    text-align: center;
    color: #ffffff;
    background: url('https://jolly-kalam-23776e.netlify.app/corps/img/showcase.jpg') no-repeat 0 -400px;
}
#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}
#showcase p{
    font-size: 22px;
}

/* NewsLetter */

#newsletter{
    padding: 15px;
    color: rgb(255 255 255);
    background: rgb(53 66 74);
}
#newsletter h1{
    float: left;
}
#newsletter input[type="email"]{
    height: 17px;
    padding: 12px;
    width: 256px;
    border: 2px solid rgb(0 0 0);
    border-radius: 7px;
}
.button_1{
    height: 43px;
    background: rgb(232 73 29);
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(255 255 255);
    border-radius: 6px;
}
#newsletter form{
    float: right;
    margin-top: 13px;
}

/* Boxes */

#boxes{
    margin-top: 20px;
}
#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}
.box img{
   width: 100px;
}

/* Footer */
footer{
    background-color: rgb(53 66 74);
    color: black;
    padding: 1px;
    margin-top: 10px;
    text-align: center;
}
footer p{
    font-size: 20px;
    font-weight: bold;
}

/* Media Queries */
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
      float:none;
      text-align:center;
      width:100%;
    }
  
    header{
      padding-bottom:20px;
    }
  
    #showcase h1{
      margin-top:40px;
    }
  
    #newsletter button, .quote button{
      display:block;
      width:100%;
    }
  
    #newsletter form input[type="email"], .quote input, .quote textarea{
      width:100%;
      margin-bottom:5px;
    }
  }

  /* About file */

  article#main-col{
      float: left;
      width: 65%;
  }
  aside#sidebar{
      float: right;
      width: 30%;
      margin-top: 10px;
  }
  aside#sidebar .quote input, aside#sidebar .quote textarea{
      width: 90%;
      padding: 5px;
  }
  .dark{
    padding:15px;
    background:#35424a;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
  }

  /* Main */

  #services li{
      list-style: none;
      padding: 20px;
      border: 2px solid rgb(204 204 204);
      margin-bottom: 5px;
      background: rgb(230 230 230);
  }